<%= stylesheet_link_tag "dealing", "data-turbo-track": "reload"%>

<div class="top-bar">
  <a href="<%= categories_path %>">
    <%= image_tag("arrow-back.png", class: "back-icon") %>
  </a>
  <h2>New Transaction</h2>
  <p></p>
</div>
<%= form_with model: @dealing, url: dealings_path, method: :post do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name,  name: 'dealing[name]', class: "input-cat" %>
  </div>
  <div>
    <%= form.label :amount %><br>
    <%= form.text_field :amount,  name: 'dealing[amount]', class: "input-cat" %>
  </div>
  <div>
    <%= form.label :categories %><br>
    <% Category.all.each do |category| %>
      <%= check_box_tag 'dealing[category_ids][]', category.id %>
      <%= category.name %><br>
    <% end %>
  </div>
  <%= form.submit "Submit", class: "form-btn" %>
<% end %>


