<%= stylesheet_link_tag "category", "data-turbo-track": "reload"%>
<div class="top-bar">
  <p></p>
  <h3 class="cat-head">Categories</h3>
  <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link' do %>
    <%= image_tag("exit.png", class: "exit-icon") %>
  <% end %>
</div>

<div class="main-part">
  <%  @categories.each do |category| %> 
    <a href="<%= dealings_path(category_id: category.id) %>">
      <div class="cover">
        <div class="category-container">
          <div class="category-image">
            <%= image_tag category.icon, class: "cat-icon" %> 
          </div>
          <div class="category-info">
            <p><%= category.name %></p>
            <p>$<%= @total_amounts[category.id] || 0 %></p>
          </div>
          
        </div> 
        <p class="date"><%= category.created_at.strftime("%d %b %Y") %></p> 
        
      </div>
    </a>
    
  <% end %>

  <p><%=  @total_amount %></p>
  
</div>

<button class="button-container">
  <%= link_to 'Create New Category', new_category_path, class: 'cat-link' %>
</button>